<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-kuhteams-rahmen">
<div class="row tx-kuhteams-form" >
	<div class="col col-lg-2">
		<div class="form-group">
			<label for="username">Benutzername:</label>
			<f:form.textfield id="username" property="username" value="{team.username}" readonly="readonly" />
		</div>
		<div class="form-group">
			<label for="password">Passwort:</label>
			<f:form.password id="password" property="password" value="{team.password}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="lastName">Nachname:</label>
			<f:form.textfield id="lastName" property="lastName" value="{team.lastName}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="firstName">Vorname:</label>
			<f:form.textfield id="firstName" property="firstName" value="{team.firstName}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="address">Adresse:</label>
			<f:form.textfield id="address" property="address" value="{team.address}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="zip">PLZ:</label>
			<f:form.textfield id="zip" property="zip" value="{team.zip}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="city">Ort:</label>
			<f:form.textfield id="city" property="city" value="{team.city}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="telephone">Telefon:</label>
			<f:form.textfield id="telephone" property="telephone" value="{team.telephone}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="mobile">Mobiltelefon:</label>
			<f:form.textfield id="mobile" property="mobile" value="{team.mobile}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="email">E-Mail:</label>
			<f:form.textfield id="email" property="email" value="{team.email}" readonly="readonly"/>
		</div>
	</div>
	<div class="col col-lg-2">
		<div class="form-group">
			<label for="dogname">Hundename:</label>
			<f:form.textfield id="dogname" property="dogname" value="{team.dogname}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="dogbirthdate">Geburtstag Hund:</label>
			<f:form.textfield id="dogbirthdate" property="dogbirthdate" value="{team.dogbirthdate->f:format.date(format:'d.m.Y')}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="dograce">Hunderasse:</label>
			<f:form.textfield id="dograce" property="dograce" value="{team.dograce}" readonly="readonly"/>
		</div>
		<div class="form-group">
			<label for="dogsex">Geschlecht Hund:</label>
			<f:form.textfield id="dogsex" property="dogsex" value="{team.dogsex}" readonly="readonly"/>
		</div>
    <div class="form-group">
      <label for="teamstory">Team Geschichte:</label>
      <f:form.textarea id="teamstory" property="teamstory"  value="{team.teamstory}" rows="8"/>
    </div>
	</div>
</div>
</div>
